body{
background-color: blue;

}

.usuario{
    height: 10%;
    width: 10%;
}

body{
background-color: aliceblue;

}

.github { 
height: 4%;
width: 4%;

}




body{
    background-color: aliceblue;
}
.gmail{

    height: 4%;
    width: 4%;

}